
* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  overflow-x: hidden; 
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-image: url("../../assets/bookBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}



#root {
  width: 100%;
  padding: 0; 
}