/* index.css eller App.css */
* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  overflow-x: hidden; /* Förhindrar oönskad horisontell scroll */
  font-family: 'Inter', 'Segoe UI', sans-serif;
}


#root {
  width: 100%;
  padding: 0; 
}