.resultsDiv {

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.book {
  cursor: pointer;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: black;
  border-radius: 8px;
  width: 50%;
  margin: 10px;
}

.book img {
  flex-shrink: 0;
  width: 128px; 
  height: auto;
  object-fit: cover;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  align-items: center;
}

.bookInfo h3 {
  margin: 0;
}

.bookInfo p {
  margin: 0;
}



.rateBook{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto; 
}