.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* Högt värde */
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.stars {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  justify-content: center;
}

.stars button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.stars button:hover {
  transform: scale(1.2);
}