main{
    display: flex;
    justify-content: center;
}

.bookInfo {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas:
        "header header"
        "left right"
        "footer footer"
        "review review";
    gap: 20px; 
    max-width: 50%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.genreTag {
    font-weight: bold;
}

.storyTag{
    font-weight: bold;
    text-align: center;
}

.bookInfo h1{
    grid-area: header;
}

.bookInfo p{
    grid-area: left;
}

.storyDesc {
    text-align: center;
}
.bookInfo img{
    grid-area: right;
}

.storyDiv {
    grid-area: footer;
    text-align: left;
}

.reviewDiv {
    background: rgba(0, 0, 0, 0.7);
    grid-area: review;
}

.reviewDiv textarea{
    resize: none;
}

.stars {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  justify-content: center;

}

.stars button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
color: white;
}

.stars button:hover {
  transform: scale(1.2);
}


@media only screen and (max-width: 700px) {
    .bookInfo{
        display: block;
    }
}
