
.mainMenu {
  width: 100vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 20px;
}

.navLogo {
  max-height: 80px;
  width: auto;
}

.navLinks{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500; 
  margin: 15px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.navLinks:hover {
  transform: translateY(-2px); 
}


.navLinks:global(.active) {
  color: #ffffff;
  box-shadow: 0 2px 0 0 #007bff;
}

.navForm{
  min-width: 85%;
  max-width: 90%;
}

.smallMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 1rem;
  padding: 10px;
}

.smallNavLinks {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
}

.topRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.linkRow {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .mainMenu {
    display: none;
  }
  .smallMenu {
    display: flex;
  }
}
